<head>
    <link rel="stylesheet" href="/css/inventory.css">
</head>


<body>
    <h1>Inventory Page</h1>


    <!-- Search Bar -->
    <input type="text" id="search-input" placeholder="Search products...">
    <button id="search-button">Search</button>

    <!-- Results Container -->
    <div id="results-container"></div>









    <script src="inventory.js"></script>
</body>

